body {
    background-color:bisque;
    background-image: url(images/background.jpg);
    background-size: cover;
    padding-top: 65px;
    padding-left: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 50px;
}

.option {
    font-size: 35px;
}

#playerButtons, #computerButtons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btnImg {
    display: flex;
    flex-direction: column;
    margin:50px;
}

input, img {
    width: 80px;
    height: auto;
    border: solid black 3px;
    border-radius: 10px;
    padding: 10px;
}

input:focus {
    transform: scale(1.1);
    border: 5px solid blue;
    box-shadow: 0 0 5px black;
}

input:active {
    transform: scale(1.2)
}

.labels {
    text-align: center;
    margin-top: 10px;
}

#score {
    border: solid red 1px;
    display: flex;
    flex-direction: column;
}

.computerActive {
    transform: scale(1.1);
    border: 5px solid red;
    box-shadow: 0 0 5px black;
}










/* 
turn images into buttons //
add animations to the buttons when clicked
show what the computers chose on the right side and what you chose on the left side
add pop up box to play again
whoever wins their buttons on that side with flash with transform scale up
for the npc do input:focus with effects